@model List<biVerifier.Models.SalesPipeline>

@{
    ViewData["Title"] = "Report By City/Province";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>



        function exportToExcel() {
            // Get the table element
            var table = document.getElementById('dataTable');
            // Convert the table to a worksheet
            var ws = XLSX.utils.table_to_sheet(table);
            // Create a new workbook
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'ReportByCity(Province).xlsx');
        }

        function hideTable() {
            var table = document.getElementById('dataTable');
            table.style.display = 'none';
        }

        // Call the hideTable function when the page loads
        window.onload = hideTable;
    </script>
}


<div class="container" style="margin: 3rem">
    <div class="box">
        <div class="box-body">
            <h5 style="text-transform: uppercase">REPORT BY PROVINCE</h5>

            <div class="">
                <div class="">
                    <form id="technician" method="post" action="/SalesPipeline/FilterByProvince">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-control" id="provinceSelect" name="province">
                                        <option value="">Select Province</option>
                                        <option value="Cape Town">Cape Town</option>
                                        <option value="Guateng">Guateng</option>
                                        <option value="East London">East London</option>
                                        <option value="Benoni">Benoni</option>
                                    </select>
                                    <label for="technicianSelect">REPORT BY CITY/PROVINCE</label>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-start align-items-center">
                                <!-- Center align the button -->
                                <button type="submit" class="btn btn-dark" style="text-transform: uppercase; font-weight: bold">Apply Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-container" style="margin-top: 1rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex  align-items-center justify-content-between mb-20">
                            <div>
                                <h5 style="text-transform: uppercase ">FILTER RESULT</h5>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="exportToExcel()">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> EXPORT TO EXCEL
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>QuoteNum</th>
                                    <th>Client</th>
                                    <th>Lead Source</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>Service</th>
                                    <th>Consultant</th>
                                    <th>Market</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.QuoteNum</td>
                                        <td>@item.Client</td>
                                        <td>@item.Lead_Source</td>
                                        <td>@item.Contact_Person</td>
                                        <td>@item.Email</td>
                                        <td>
                                            <span class="badge bg-primary px-3 py-2">
                                                @item.City
                                            </span>
                                        </td>
                                        <td>@item.Service</td>
                                        <td>@item.Consultant</td>
                                        <td>@item?.Market</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div id="dataTable" class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>QuoteNum</th>
                                    <th>Client</th>
                                    <th>Lead Source</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>Service</th>
                                    <th>Consultant</th>
                                    <th>
                                        OnceOffCost
                                    </th>
                                    <th>
                                        RecurringCost
                                    </th>
                                    <th>
                                        Probability
                                    </th>
                                    <th>Market</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.QuoteNum</td>
                                        <td>@item.Client</td>
                                        <td>@item.Lead_Source</td>
                                        <td>@item.Contact_Person</td>
                                        <td>@item.Email</td>
                                        <td>@item.City</td>
                                        <td>@item.Service</td>
                                        <td>@item.Consultant</td>
                                        <td>@item?.OnceOffCost</td>
                                        <td>@item?.RecurringCost</td>
                                        <td>@item?.Probability</td>
                                        <td>@item?.Market</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

