@model List<biVerifier.Models.SalesPipeline>

@{
    ViewData["Title"] = "Report By Province";
}


<div class="container" style="margin: 3rem">
    <div class="box">
        <div class="box-body">
            <h5 style="text-transform: uppercase">REPORT BY PROVINCE</h5>

            <div class="">
                <div class="">
                    <form id="technician" method="post" action="/SalesPipeline/FilterByProvince">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-control" id="provinceSelect" name="province">
                                        <option value="">Select Province</option>
                                        <option value="Capetown">Capetown</option>
                                        <option value="Guateng">Guateng</option>

                                    </select>
                                    <label for="technicianSelect">REPORT BY PROVINCE</label>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-start align-items-center">
                                <!-- Center align the button -->
                                <button type="submit" class="btn btn-dark" style="text-transform: uppercase; font-weight: bold">Apply Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-container" style="margin-top: 1rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex  align-items-center justify-content-between mb-20">
                            <div>
                                <h5 style="text-transform: uppercase ">FILTER RESULT</h5>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="exportToExcel()">
                                    <i class="far fa-file-excel"></i> EXPORT TO EXCEL
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Client</th>
                                    <th>Lead Source</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>Service</th>
                                    <th>Consultant</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Client</td>
                                        <td>@item.Lead_Source</td>
                                        <td>@item.Contact_Person</td>
                                        <td>@item.Email</td>
                                        <td>@item.City</td>
                                        <td>@item.Service</td>
                                        <td>@item.Consultant</td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

