@using Microsoft.AspNetCore.Authentication

<!DOCTYPE html>
<html lang="en" style="zoom: 80%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>@ViewData["Title"] - biVerifier</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/biVerifier.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"
          integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"
          integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" style="height: 6rem" >
            <div class="container-fluid" style="margin-left: 3rem; margin-right: 3rem">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="height: 30px" src="~/images/logo.jpg" alt="biVerifier Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Crm" asp-action="Index">Crm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Sites" asp-action="Index">Technicals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Cancellations" asp-action="Index">Cancellations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="TechCancel" asp-action="Index">TechCancel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Lisenses" asp-action="Index">Licenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="SalesPipeline" asp-action="Index">Sales Pipeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text" asp-area="" asp-controller="Home" asp-action="Reports">Generate Reports</a>
                        </li>
                    </ul>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <ul class="navbar-nav" style="display: flex;">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="d-flex" style="display: flex; align-items: center; justify-content: center;">
                                        <span style="margin-right: 10px;" class="nav-text">Welcome, @User.Identity.Name </span>
                                        <button type="submit" class="nav-link btn btn-primary" style="color: #fff; text-transform: uppercase; font-weight: 400">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="/Account/Login" class="nav-link btn btn-outline-info" style="color: #A61D25; text-transform: uppercase; font-weight: 400">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()

            <div class="row">
                <div class="col-md-4">
                    @RenderSection("SalesByRegionChart", required: false)
                </div> 
                <div class="col-md-4">
                    @RenderSection("ClientCountByLeadSourceChart", required: false)
                </div>
                <div class="col-md-4">
                    @RenderSection("ConsultantTotalMonitoringFees", required: false)

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    @RenderSection("ClientCountByMarketType", required: false)

                </div>
            </div>
           
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
