@model List<biVerifier.Models.Crm>


@{
    ViewData["Title"] = "Report By Province";
}



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        function exportToExcel() {
            // Get the table element
            var table = document.getElementById('dataTable');

            // Convert the table to a worksheet
            var ws = XLSX.utils.table_to_sheet(table);

            // Create a new workbook
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

            XLSX.writeFile(wb, 'FilterByProvince.xlsx');
        }

        function hideTable() {
            var table = document.getElementById('dataTable');
            table.style.display = 'none';
        }

        // Call the hideTable function when the page loads
        window.onload = hideTable;
    </script>
}


<div class="container" style="margin: 3rem">
    <div class="box">
        <div class="box-body">
            <h5 style="text-transform: uppercase">Generate Report  By Selecting  Province</h5>

            <div class="">
                <div class="">
                    <form id="provinceForm" method="post" action="/Reports/GetReportByProvince">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-control" id="provinceSelect" name="region">
                                        <option value="">Select Province</option>
                                        <option value="WC">Western Cape</option>
                                        <option value="GP">Gauteng</option>
                                        <option value="LP">Limpopo</option>
                                        <option value="MP">Mpumalanga</option>
                                        <option value="KZN">KwaZulu-Natal</option>
                                        <option value="NC">Northern Cape</option>
                                        <option value="EC">Eastern Cape</option>
                                        <option value="FS">Free State</option>
                                        <option value="NW">North West</option>
                                    </select>
                                    <label for="provinceSelect">SELECT PROVINCE</label>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-start align-items-center">
                                <!-- Center align the button -->
                                <button type="submit" class="btn btn-dark" style="text-transform: uppercase; font-weight: bold">Apply Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="custom-container" style="margin-top: 1rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex  align-items-center justify-content-between mb-20">
                            <div>
                                <h5 style="text-transform: uppercase ">FILTER RESULT</h5>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="exportToExcel()">
                                    <i class="far fa-file-excel"></i> EXPORT TO EXCEL
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Client</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>No</th>
                                    <th>Street</th>
                                    <th>Suburb</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Lead Source</th>
                                    <th>Service</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var crmData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@crmData.ID</td>
                                        <td>@crmData.Client</td>
                                        <td>@crmData.Contact_Person</td>
                                        <td>@crmData.Email</td>
                                        <td>
                                            <span class="badge bg-info"> @crmData.Contact_Number</span>
                                        </td>
                                        <td>@crmData.No</td>
                                        <td>@crmData.Street</td>
                                        <td>@crmData.Suburb</td>
                                        <td>
                                            <span class="badge bg-primary">@crmData.City</span>
                                        </td>
                                        <td>@crmData.Province</td>
                                        <td>@crmData.LeadSource</td>
                                        <td>@crmData.Service</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <table id="dataTable" class="table table-striped table-hover">
                            <thead>
                                <tr style="text-transform: uppercase; font-weight: bold">
                                    <th>ID</th>
                                    <th style="width: fit-content">Client</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>No</th>
                                    <th>Street</th>
                                    <th>Suburb</th>
                                    <th>City</th>
                                    <th>Province</th>
                                    <th>Lead Source</th>
                                    <th>Service</th>
                                    <th>Market</th>
                                    <th>Category</th>
                                    <th>Consultant</th>
                                    <th>Branch</th>
                                    <th>Status</th>
                                    <th>Probability</th>
                                    <th>Lead Year</th>
                                    <th>Lead Month</th>
                                    <th>Live Year</th>
                                    <th>Live Month</th>
                                    <th>Total Monitoring Fees</th>
                                    <th>Once-off Setup Costs</th>
                                    <th>Install Comm</th>
                                    <th>Managed Services Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var crmData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@crmData.ID</td>
                                        <td style="width: fit-content">@crmData.Client</td>
                                        <td>@crmData.Contact_Person</td>
                                        <td>@crmData.Email</td>
                                        <td>@crmData.Contact_Number</td>
                                        <td>@crmData.No</td>
                                        <td>@crmData.Street</td>
                                        <td>@crmData.Suburb</td>
                                        <td>@crmData.City</td>
                                        <td>@crmData.Province</td>
                                        <td>@crmData.LeadSource</td>
                                        <td>@crmData.Service</td>
                                        <td>@crmData.Market</td>
                                        <td>@crmData.Category</td>
                                        <td>@crmData.Consultant</td>
                                        <td>@crmData.Branch</td>
                                        <td>@crmData.Status</td>
                                        <td>@crmData.Probability</td>
                                        <td>@crmData.leadyear</td>
                                        <td>@crmData.leadmonth</td>
                                        <td>@crmData.liveyear</td>
                                        <td>@crmData.livemonth</td>
                                        <td>@crmData.TotalMonitoringFees</td>
                                        <td>@crmData.Onceoffsetupcosts</td>
                                        <td>@crmData.Install_Comm</td>
                                        <td>@crmData.ManagedServicesFees</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>